.search-box-container {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
}

/* Placeholder animation */
@keyframes placeholderPulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.search-input::placeholder {
  animation: placeholderPulse 1s ease infinite;
}

.buttonBG {
  box-shadow: 0 0.2rem 0.5rem 0 rgba(213, 217, 217, 0.5);
}
